.timeline {
  grid-column: 1 / -1;
  position: relative;
  padding-left: 28px;
  margin-bottom: 3rem;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 8px;
  bottom: 8px;
  width: 1px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.06)
  );
}

.linkedin {
  background-color: transparent;
  /* text-transform: uppercase; */
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
  align-content: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.linkedin svg {
  margin-right: 10px;
}

/* Shimmering text effect */
.linkedin span {
  background: linear-gradient(
    to right,
    #cacaca 20%,
    #ffffff 30%,
    #cacaca 70%,
    #ffffff 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  font-size: 20px;
  font-weight: 600;
  align-content: center;
  transition: text-shadow 0.2s ease;
}

.linkedin:hover span {
  background: transparent;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
