html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

body {
  font-family: var(--font-main);
  line-height: var(--lh-base);
  color: var(--text-primary);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--text-primary);
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: 700;
}

h1 {
  font-size: clamp(2rem, 6vw, 3.5rem);
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 1.5rem;
}

p {
  font-size: clamp(1rem, 2vw, 1.125rem);
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

/* Utilities */
.hidden {
  display: none;
}
